@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}

/* h1{
   
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
} */
body {
    /* overflow: hidden; */
    background-color: rgba(245, 238, 238, 0.992);
  }

  .home__image{
    width: 100%;
    z-index: -1;
    margin-bottom: -300px;
    mask-image: linear-gradient(to bottom, rgba(0, 0,0, 1), rgba(0, 0, 0, 0));
}

.logo{
    background-image: linear-gradient(45deg,#40e0d0 40%,#ff8c00 50%, #ff0080 50%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
}